html, body {
    margin: 0px;
    padding: 0px;
}

#content {
    width: 80%;
    margin: auto;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

p {
    text-align: justify;
}



.meta-line time {
color:gray;
}

.tag {
background-color: lightblue;
padding: 2px 4px;
border-radius: 4px;
margin-left: 4px;
}

.meta-line {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-bottom: 10px;
border-bottom: 1px solid lightgray;
}